In [31]:
import pandas as pd
import re

In [32]:
df_train = pd.read_csv('../data/row/train.csv')
df_test = pd.read_csv('../data/row/test.csv')

df_train.shape, df_test.shape

((7613, 5), (3263, 4))

In [33]:
def clean_text(text):
    return re.sub(r'http\S+|@\S+', '', text).strip()

In [34]:
df_train.text = df_train.text.apply(clean_text)
df_test.text = df_test.text.apply(clean_text)

In [35]:
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [36]:
df_train = df_train.drop(['keyword', 'location'], axis='columns')
df_test = df_test.drop(['keyword', 'location'], axis='columns')

df_train.shape, df_test.shape

((7613, 3), (3263, 2))

In [37]:
df_train.to_csv('../data/processed/cleaned_train.csv', index=False)

In [38]:
df_test.to_csv('../data/processed/cleaned_test.csv', index=False)

In [39]:
df_train.target.value_counts()

target
0    4342
1    3271
Name: count, dtype: int64